.header {
  background: url(../assets/header_back.jpg) no-repeat top center;
}

.container {
  max-width: 1440px;
  min-width: 600px;
  margin: 0 auto;
}

.header::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/back_party.png) no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  opacity: 0.2;
  -webkit-mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0) 20%,
      rgba(0, 0, 0, 0) 80%,
      transparent 100%
    );
  mask-image: linear-gradient(
      to top,
      transparent 0%,
      black 20%,
      black 80%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    linear-gradient(
      to bottom,
      transparent 0%,
      rgba(0, 0, 0, 0.5) 20%,
      rgba(0, 0, 0, 0.5) 80%,
      transparent 100%
    );
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  list-style-type: none;
  flex-direction: row-reverse;
}

.header-nav li {
  color: white;
  margin-right: 38px;
}

.header-logo {
  object-fit: cover;
  width: 115px;
}

.header-title {
  color: rgba(255, 222, 118, 1);
}

.header-text {
  color: rgba(72, 89, 114, 1);
}

.header-paragraf {
  display: flex;
  flex-direction: column;
  width: 433px;
  margin-top: 30px;
  align-items: center;
}

.header-logo {
  display: flex;
  flex-direction: column;
}

.header-btn {
  padding-top: 30px;
  position: relative;
}

.header-box {
  display: flex;
  justify-content: space-between;
}

.btn {
  position: absolute;
  margin: 5px;
  padding: 20px 70px;
  border-radius: 60px;
  border: none;
  background-image: linear-gradient(106.4deg, #bc8c46 11%, #ffde76 83%),
    url(../assets/Play.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  background-size: cover;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Titillium Web monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: transparent;
  -webkit-transition: background-position 0.9s transform;
  transition: background-position 0.9s transform;
  -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #ffde76,
    inset 5px 5px 10px #ffde76, inset -5px -5px 10px #ffde76;
  box-shadow: -1px -5px 15px #bc8c46, 5px 5px 15px #bc8c46,
    inset 5px 5px 10px #bc8c46, inset -5px -5px 10px #bc8c46;
}

.btn:hover {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
  color: transparent;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.btn:active {
  -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
  color: transparent;
  -webkit-transition: background-position 2s transform;
  transition: background-position 2s transform;
  animation: shake 0.7s;
  background-position: bottom center;
  font-size: 25px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.header-phone {
  width: 500px;
  height: 550px;
  background: url(../assets/iPhone\ 13.png) no-repeat top left;
  background-size: cover;
  z-index: 2;
  height: 535px;
  background-color: transparent;
}

.logo-phone {
  height: 575px;
  width: 400px;
  object-fit: cover;
}

.header-cards {
  display: flex;
  justify-content: center;
}

.header-about {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 433px;
  margin-top: 90px;
}

.header-cards_title {
  font-family: "Darker Grotesque";
  font-style: normal;
  font-weight: 900;
  font-size: 100px;
  filter: drop-shadow(0px 0px 5px rgba(255, 222, 118, 0.8));
  background-image: linear-gradient(257deg, #ecc387 11%, #ffde76 83%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  text-shadow: 0px 7px 15px rgb(165 136 99 / 59%),
    -7px -7px 16px rgb(191 189 93 / 54%);
  margin-bottom: 80px;
  margin-top: 20px;
}

.header-bid_title {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  color: #bc8c46;
  padding-bottom: 30px;
  /* text-shadow: -3.86038px -3.86038px 7.72077px rgba(255, 255, 255, 0.48),
    3.86038px 3.86038px 7.72077px rgba(0, 0, 0, 0.33); */
}

.disp-non {
  animation: glowFadeOut 0.4s ease-out forwards;
  display: none;
}

.lightning-wrapper {
  position: relative;
  display: inline-block;
}

.lightning-image {
  position: absolute;
  top: -160px;
  opacity: 0.8;
  background: url("../assets/lig-red.png") no-repeat center right;
  width: 148px;
  height: 334px;
}

.lightning-wrapper-blue {
  position: relative;
  display: inline-block;
  margin-left: auto;
}

.lightning-image-blue {
  position: absolute;
  top: 100px;
  right: 30px;
  opacity: 0.5;
  background: url("../assets/lig-blue.png") no-repeat center right;
  width: 266px;
  height: 266px;
}

.lightning {
  display: flex;
}

@media (max-width: 600px) {
  .container {
    min-width: auto;
    padding: 0 20px;
  }

  .header-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-nav {
    flex-direction: column;
    margin-top: 20px;
    margin-right: 0;
  }

  .header-nav li {
    margin: 0;
    padding: 5px 0;
  }

  .header-text {
    text-align: center;
    position: relative;
    z-index: 1;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.1),
      0 0 10px rgba(255, 255, 255, 0.2), 0 0 15px rgba(255, 255, 255, 0.2),
      0 0 20px rgba(255, 255, 255, 0.3);
  }

  .header-logo {
    justify-content: center;
  }

  .header-menu {
    flex-direction: column;
  }

  .header-nav {
    flex-direction: column;
    margin-top: 20px;
    display: none;
  }

  .header-phone {
    position: absolute;
    width: 100%;
    max-width: 375px;
    right: 0;
    top: -150px;
    background-size: cover;
    z-index: auto;
    background-color: transparent;
  }

  .header-cards_title {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 100px;
    margin-top: 0;
  }

  .header-box_title img {
    position: relative;
    z-index: 1;
  }

  .header-cards {
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header-paragraf {
    width: 100%;
    margin: 20px 0;
    align-items: flex-start;
  }

  .header-box_title {
    margin-top: 75px;
  }

  .header-about {
    width: 330px;
    margin-top: 40px;
    margin-top: 40px;
    align-items: flex-start;
  }

  .header-bid_title {
    font-size: 40px;
    line-height: 50px;
    padding-bottom: 20px;
  }

  .logo-phone {
    height: auto;
    width: 100%;
  }

  .header-box {
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  .header-btn {
    position: static;
    margin-bottom: 30px;
  }
}
