.myCard {
  position: relative; /* Добавьте эту строку */
  width: 190px;
  height: 254px;
  perspective: 1000px;
  margin: 20px 40px;
  border-radius: 1rem;
}

.myCard:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.2);
  transition: transform 0.8s;
  transform-style: preserve-3d;
  pointer-events: none; /* Добавьте эту строку */
  z-index: -1;
}

.myCard:hover:before {
  transform: rotateY(180deg);
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  background: linear-gradient(106.4deg, #755d39 11.37%, #1b1912 83.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  text-align: center;
  margin: 0;
  text-shadow: 0px 7px 15px rgb(183 111 18 / 80%),
    -7px -7px 16px rgb(191 189 93 / 20%);
  padding-top: 60px;
}

.back-title {
  background: linear-gradient(336deg, #392e0b 11.37%, #58411e 83.54%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.innerCard {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.myCard:hover .innerCard {
  transform: rotateY(180deg);
}

.innerCard .frontSide {
  justify-content: space-between;
}

.frontSide,
.backSide {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  color: white;
  box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
  font-weight: 700;
}

.frontSide,
.frontSide::before {
  transform: rotateY(0deg);

  background: linear-gradient(
    135deg,
    rgba(59, 209, 255, 0) 27.07%,
    #3bd1ff 85.92%
  );
}

.backSide,
.backSide::before {
  background-image: linear-gradient(
    135deg,
    rgba(249, 72, 111, 0) 24.59%,
    #f9486f 85.31%
  );
}

.backSide {
  transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  z-index: -1;
  border-radius: 1em;
  filter: blur(20px);
}

.card-icon {
  position: relative;
}

.card-icon img {
  position: absolute;
  left: 75px;
  top: 20px;
}

.card-fun-icon {
  padding-bottom: 15px;
}

@media (max-width: 820px) {
  .myCard {
    margin: 20px auto;
  }

  .title {
    font-size: 20px;
    padding-top: 40px;
  }

  .innerCard {
    cursor: default;
  }

  .card-icon img {
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80px;
    max-height: 80px;
  }
}
