.footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 0;
  z-index: 1;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  color: #bd9e6b;
  font-size: 1.2rem;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 1;
  font-weight: 300;
}

.menu__link:hover {
  color: #f7c72a;
}

.late-img {
  position: relative;
}
.late-img-elem {
  position: absolute;
  background: url(../../assets/blueman.png) no-repeat bottom right;
  bottom: 0;
  right: 0;
  width: 380px;
  height: 300px;
  transform: scaleX(-1);
  opacity: 0.5;
}

.footer__sign {
  color: #d9af6a;
  margin: 5px 0 5px 0;
  font-size: 1rem;
  font-weight: 300;
}

@media (max-width: 820px) {
  .social-icon,
  .menu {
    justify-content: center;
    align-items: center;
  }

  .social-icon__link,
  .menu__link {
    margin: 5px 10px;
    font-size: 1rem;
  }

  .footer p {
    font-size: 0.8rem;
  }
}
